@import url("https://fonts.googleapis.com/css2?family-Poppins:wgth@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  list-style: none;
  scroll-behavior: smooth;
  color: var(--text-color);
}
:root {
  --bg-color: #28223f;
  --secondary-color: #fa5b0f;
  --text-color: #fff;
}
body {
  background: var(--bg-color);
}
::selection {
  background: var(--text-color);
}
nav{
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 6%;
  background: #111;
  z-index: 2;
}
.logo {
  font-size: 20px;
  font-weight: 700;
}
.logo span {
  color: var(--secondary-color);
}
.navbar {
  display: flex;

}

.navbar a {
  position: relative;
  padding: 10px 20px;
  font-size: 14px;
}
.navbar a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 2px;
  width:0;
  height: 2px;
  transform: translateX(-50%);
  background: var(--secondary-color);
  transition: 0.3s linear;
}
.navbar a:hover::after {
  width: 75%;
}
.contact {
  padding: 7px 21px;
  margin-left: 5px;
  background: var(--secondary-color);
  font-size: 15px;
  font-weight: 600;
  border-radius: 15px;
  transition: 0.3s linear;
}
.contact:hover {
  letter-spacing: 1px;
}
.home {
  padding: 40px;
  display: block;
}
.home .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  padding: 80px 50px 20px;
}

.content .left{
    width: 50%;
    margin-top: 35px;
}
.content .left .name{
    font-size: 35px;
    margin-bottom: 10px;
}
.content .left .name span{
    color: var(--secondary-color);
    letter-spacing: 2px;
    font-family: cursive;
}
.content .left p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}

.content .left .hire{
    background: var(--secondary-color);
    font-size: 18px;
    padding: 8px 22px;
    margin-bottom: 20px;
    border-radius: 15px;
    font-weight: 500;
    cursor: pointer;
    border: none;
}
.content .left .hire:active{
    transform: scale(.9);
}
.content .left .stats{
   
    display: flex;
    align-items: center;
}
.content .left .stats .li{
    display: flex;
    flex-direction: column;
    border: 1px solid #111;
    margin: 10px;
    border-radius: 2px;
    padding: 20px 10px;
    font-size: 40px;
}
.content .left .stats span{
    color: var(--secondary-color);
    font-size: 20px;
    text-align: center;
}
.content .right{
    width: cal(50% - 40px);
}
.content .shape{
    position: absolute;
    height: 400px;
    width: 300px;
    background: var(--secondary-color);
    clip-path: polygon(25% 0, 75% 100%, 0 100%);
}


.content .image {
  height: 400px;
  width: auto;
  padding: 20px 30px;
  position: relative;
}
.content .image img {
  width: 100%;
  height: 100%;
}



#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    padding: 50px 100px;
    margin-top: 100px;
    align-items: center;
    background-color: #e4e4e4;
    height: 650px;
  }
  /*The intro text typewriter effect*/
  
  #typeWriter p {
    border-right: 2.4px;
    font-family: "Courier";
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    color: #000;
  }
  /*The intro text typewriter effect (line 1)*/
  #typeWriter p:nth-child(1) {
    width: 140px;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  /*The intro text typewriter effect (line 2)*/
  #typeWriter p:nth-child(2) {
    width: 320px;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 2s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  /*The intro text typewriter effect (line 3)*/
  #typeWriter p:nth-child(3) {
    width: 432px;
    opacity: 0;
    -webkit-animation: type3 5s steps(20, end),
      blink 0.5s step-end infinite alternate;
    animation: type3 5s steps(20, end), blink 0.5s step-end infinite alternate;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  /*The intro text typewriter effect (line 1) typing animation effect*/
  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: 2.4px solid #82b533;
    }
    100% {
      border: none;
    }
  }
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: 2.4px solid #82b533;
    }
    100% {
      border: none;
    }
  }
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: 2.4px solid #82b533;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: 2.4px solid #82b533;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }
  .banner_img img{
    opacity: .3;
  }
  
 .skills{
    position: relative;
    width: 400px;
    height: 500px;
    border: 1px solid;
  }
 .skills{
    position:absolute;
    top: 1050px;
    left: 850px;
    text-align: center;
    padding: 70px;
  }
  .skills li, h3{
    padding: 10px;
    color: var(--secondary-color);
  }
  .skills h3{
    color: var(--bg-color);
  }
  .skills {
    font-weight: 700;
  }
  .services{
    padding: 30px 50px;
    margin-left: 30%;
    padding-left: 200px;
  }
  .services h3{
    padding:  30px 20px;
    text-decoration: underline;
  }
  .services li{
    padding-bottom: 20px;
    color: #fff;
  }
  .services span{
    font-size: 25px;
    padding-right: 5px;
    color: var(--secondary-color);
  }
  .projects{
    display: flex;
    margin-left: 12%;
    width: 80%;
    height: 400px;
    gap: 10px;
  }
  #projects h3{
    margin-left: 42%;
    padding: 40px;
    font-weight: bold;
    text-decoration: underline;
   
  }
  #projects{
    /* background-color: #e4e4e4; */
    background-color: var(--bg-color);
  }
  .card img{
    align-items: center;
  }
  .card{
    background-color: #c3c3c3;
    width: 25%;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5) ;
    border-radius: 15px;
    background: rgba(255,255, 255, 0.1);
    overflow: hidden;
    border-top: 1px solid rgba(225, 225, 225, 0.5);
    border-left: 1px solid rgba(225, 225, 225, 0.5);
    backdrop-filter: blur(5px);
    transition: 0.5s;
    padding: 20px;
  }
  .card .decs p{
    color: #fff;
    text-align: center;
    font-family: cursive;
  }
  .card .decs h4{
    padding-top: 10px;
    color: #fff;
    text-align: center;
    padding-left: 40px;
  }
  
  
  .img img{
    width: 250px;
    height: 250px;
  }
  footer{
    padding-top: 20px;
    height: 50px;
    color: #000;
    margin-left: 45%;
  }
  footer span{
    color: #ff0000;
  }

  /*********Contact*********/
 
 
  form{
    width: 500px;
    height: 500px;
    border: 1px solid;
    margin: 150px 520px;
    padding: 30px 50px;
    box-shadow: 1px 1px 1px 0px var(--secondary-color);
    background-color: #e4e4e4;
    color: #000;
  }
  form h3{
    margin: 0;
    }
    form button{
        margin-top: 10px;
       color: #000;
       width: 100px;
       border-radius: 5px;
       padding: 10px;
       background-color: var(--secondary-color);
       border: none ;
        }
  label{
    color: #000;
}

  input[type=text], input[type=password] , input[type=email], input[type=tel]{
    width: 70%;
    height: 10%;
    background-color: transparent;
    border: 2px solid #fff;
    border-top: none;
    /* border-left: none;  */
    border-right: none;
    align-self: center;
    margin-bottom: 10px;
    padding: 5px;
    color: #fff;
    text-indent: 20px ;
    border-radius: 5px;
    box-shadow:0px 1px var(--secondary-color);
}
textarea{
    width: 70%;
    background: transparent;
}